<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBK</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock content %}
    <script src="https://www.jsdelivr.com/package/npm/javascript"></script>
</body>

<footer class="border border-gray-200 px-4 py-4 mt-auto">
    <p class="text-center">&copy; 2023 MBK. All rights reserved.</p>
</footer>


</html>