{% extends "base.html" %}

{% block content %}


<section class="flex-col h-full p-4 sm:ml-64 mt-16 bg-white dark:bg-gray-900">
    <div class="py-5 px-4 w-full lg:py-10 rounded-lg border border-orange-500 bg-white">
        <h2 class="mb-12 text-xl font-bold text-gray-900 dark:text-white">새 글을 작성해주세요</h2>
        <form enctype="multipart/form-data" method="post" class="">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="subject" class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">제목</label>
                    <input type="text" name="subject" id="subject" value="{{ form.subject.value|default_if_none:'' }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="제목을 작성해주세요" required="">
                </div>
                <div class="sm:col-span-2">
                    <label for="board_name" class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">게시판 선택</label>
                    <select name="board_name" id="board_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"required="">
                        <option value="daretalk">Dare Talk</option>
                        <option value="ceotalk">CEO TALK</option>
                        <option value="labnewsroom">연구소 뉴스룸</option>
                        <option value="info">생활정보</option>
                        <option value="ref">자료실</option>
                        <option value="weeklynews">Weekly News</option>
                        <option value="client">고객사 동향</option>
                        <option value="forum">토론방</option>
                        <option value="projectex">프로젝트 사례 공유</option>
                        <option value="announce">공지사항</option>
                    </select>    
                </div>
                <div class="sm:col-span-2">
                    <label for="imgfile" class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">이미지등록</label>
                    <input type="file" name="imgfile" id="imgfile"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="이미지를 등록해주세요">
                </div>
                <div class="sm:col-span-2">
                    <label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">내용</label>
                    <textarea id="content" name="content" rows="20" class="form-control block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="내용을 작성해주세요">{{ form.content.value|default_if_none:'' }}</textarea>
                </div>
            </div>
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-orange-500 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-orange-800">
                등록하기
            </button>
        </form>
    </div>
  </section>


{% endblock content %}




<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown button <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
      </li>
    </ul>
</div>
