{% extends "base.html" %}

{% block content %}



<div class="flex-col h-full p-4 sm:ml-64 mt-16">
    <div class="flex flex-row h-96 bg-white">
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">공지사항</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="w-8/12 px-6 py-2">내용</th>
                            <th scope="col" class="w-2/12 px-6 py-2">날짜</th>
                            <th scope="col" class="w-2/12 px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_announce_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_announce_list.has_previous %}
                            <li>
                                <a href="?page_announce={{ board_announce_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_announce_list.paginator.page_range %}
                            {% if page_number ==  board_announce_list.number %}
                            <li>
                                <a href="?page_announce={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_announce={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_announce_list.has_next %}
                            <li>
                                <a href="?page_announce={{ board_announce_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">Dare Talk</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_daretalk_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_daretalk_list.has_previous %}
                            <li>
                                <a href="?page_daretalk={{ board_daretalk_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_daretalk_list.paginator.page_range %}
                            {% if page_number ==  board_daretalk_list.number %}
                            <li>
                                <a href="?page_daretalk={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_daretalk={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_daretalk_list.has_next %}
                            <li>
                                <a href="?page_daretalk={{ board_daretalk_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row h-96 bg-white border-orange-500">
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">CEO TALK</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_ceotalk_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_ceotalk_list.has_previous %}
                            <li>
                                <a href="?page_ceotalk={{ board_ceotalk_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_ceotalk_list.paginator.page_range %}
                            {% if page_number ==  board_ceotalk_list.number %}
                            <li>
                                <a href="?page_ceotalk={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_ceotalk={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_ceotalk_list.has_next %}
                            <li>
                                <a href="?page_ceotalk={{ board_ceotalk_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">프로젝트 사례 공유</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_projectex_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_projectex_list.has_previous %}
                            <li>
                                <a href="?page_projectex={{ board_projectex_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_projectex_list.paginator.page_range %}
                            {% if page_number ==  board_projectex_list.number %}
                            <li>
                                <a href="?page_projectex={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_projectex={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if post_list.has_next %}
                            <li>
                                <a href="?page_projectex={{ board_projectex_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
    </div>    
    <div class="flex flex-row h-96 bg-white border-orange-500">
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">생활정보</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_info_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_info_list.has_previous %}
                            <li>
                                <a href="?page_info={{ board_info_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_info_list.paginator.page_range %}
                            {% if page_number ==  board_info_list.number %}
                            <li>
                                <a href="?page_info={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_info={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_info_list.has_next %}
                            <li>
                                <a href="?page_info={{ board_info_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">자료실</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_refo_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_refo_list.has_previous %}
                            <li>
                                <a href="?page_refo={{ board_refo_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_refo_list.paginator.page_range %}
                            {% if page_number ==  board_refo_list.number %}
                            <li>
                                <a href="?page_refo={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_refo={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_refo_list.has_next %}
                            <li>
                                <a href="?page_refo={{ board_refo_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
    </div>    
    <div class="flex flex-row h-96 bg-white border-orange-500">
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">Weekly News</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_weeklynews_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_weeklynews_list.has_previous %}
                            <li>
                                <a href="?page_weeklynews={{ board_weeklynews_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_weeklynews_list.paginator.page_range %}
                            {% if page_number ==  board_weeklynews_list.number %}
                            <li>
                                <a href="?page_weeklynews={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_weeklynews={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_weeklynews_list.has_next %}
                            <li>
                                <a href="?page_weeklynews={{ board_weeklynews_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">연구소 뉴스룸</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_labnewsroom_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_labnewsroom_list.has_previous %}
                            <li>
                                <a href="?page_labnewsroom={{ board_labnewsroom_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_labnewsroom_list.paginator.page_range %}
                            {% if page_number ==  board_labnewsroom_list.number %}
                            <li>
                                <a href="?page_labnewsroom={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_labnewsroom={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_labnewsroom_list.has_next %}
                            <li>
                                <a href="?page_labnewsroom={{ board_labnewsroom_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
    </div>    
    <div class="flex flex-row h-96 bg-white border-orange-500">
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">고객사 동향</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_client_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_client_list.has_previous %}
                            <li>
                                <a href="?page_client={{ board_client_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_client_list.paginator.page_range %}
                            {% if page_number ==  board_client_list.number %}
                            <li>
                                <a href="?page_client={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_client={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_client_list.has_next %}
                            <li>
                                <a href="?page_client={{ board_client_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
        <div class="rounded-lg overflow-y-hidden w-1/2 m-2 shadow border border-gray-200">
            <div class="p-3 rounded-lg">
                <div>
                    <p class="font-bold bg-orange-100 px-6 py-2">토론방</p>
                </div>    
                <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-2">내용</th>
                            <th scope="col" class="px-6 py-2">날짜</th>
                            <th scope="col" class="px-6 py-2">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in board_forum_list %}
                        <tr class="text-xs bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                            <td class="px-6 py-2">{{ post.create_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-2">{{ post.author }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="grid grid-cols-10 p-2">
                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation example" class="col-start-4 col-span-4 py-2">
                        <ul class="inline-flex -space-x-px">
                            <!-- 이전 페이지 -->
                            {% if board_forum_list.has_previous %}
                            <li>
                                <a href="?page_forum={{ board_forum_list.previous_page_number }}" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="text-xs px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in board_forum_list.paginator.page_range %}
                            {% if page_number ==  board_forum_list.number %}
                            <li>
                                <a href="?page_forum={{ page_number }}" aria-current="page" class="text-xs px-3 py-2 leading-tight text-white bg-orange-500 border border-orange-500 hover:bg-orange-600 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="?page_forum={{ page_number }}" class="text-xs px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if board_forum_list.has_next %}
                            <li>
                                <a href="?page_forum={{ board_forum_list.next_page_number }}"  class="text-xs px-3 py-2 rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" tabindex="-1" aria-disabled="true" class="text-xs px-3 py-2 leading-tight rounded-r-lg text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                      </nav>  
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}







