{% extends 'base.html' %}

{% block content %}

<!-- Main Content -->
<main class="flex-grow container max-w-7xl mx-auto pt-0 mt-0">
    <div class="flex flex-wrap">
        <!-- Sidebar section -->
        <aside class="hidden md:block w-full sm:w-1/4 px-4 sm:px-6 lg:px-8 pb-12 order-2 sm:order-1">
            <div class="border border-gray-200 shadow-md rounded-lg mt-0 p-5">
                <h3 class="text-lg font-semibold mb-4 text-gray-800">Book mark</h3>
                <ul class="text-gray-700">
                    <li class="mb-2"><a href="https://www.youtube.com" target="_blank">Youtube</a></li>
                    <li class="mb-2"><a href="https://wikidocs.net/book/4223" target="_blank">Jump to django</a></li>
                    <li class="mb-2"><a href="https://justdjango.com/" target="_blank">Justdjango</a></li>
                    <li class="mb-2"><a href="https://www.pythonanywhere.com/" target="_blank">Pythonanywhere</a></li>
                    <li class="mb-2"><a href="https://tailwindcss.com/" target="_blank">Tailwind</a></li>
                    <li class="mb-2"><a href="https://developer.mozilla.org/ko/" target="_blank">MDN</a></li>
                    <li class="mb-2"><a href="https://flowbite.com/" target="_blank">Flowbite</a></li>
                    <li class="mb-2"><a href="https://chat.openai.com/" target="_blank">Chatgpt</a></li>
                </ul>
            </div>
        </aside>

        <!-- Blog post section -->
        <section class="w-full sm:w-3/4 pb-12 px-4 sm:px-0 order-1 sm:order-2">
            <div class="max-w-3xl mx-0 mt-0">
                <!-- Blog post -->
                {% if post_list %}
                <ul>
                    {% for post in post_list %}
                    <div class="mb-10">
                        <div class="border border-gray-200 bg-white shadow-md rounded-lg overflow-hidden">
                            <div class="flex flex-col flex-col-reverse md:flex md:flex-row ">
                                <div class="md:w-2/3 p-6">
                                    <a href="{{ post.id }}" class="block text-lg font-semibold mb-2 text-gray-800 hover:text-orange-500">{{ post.title }}</a>
                                    <p class="text-gray-700 leading-relaxed mb-3">{{ post.overview|safe }}</p>
                                    <a href="{{ post.id }}" class="text-orange-500 inline-flex items-center">Read more</a>
                                </div>
                                <div class="md:w-1/3 md:p-3">
                                    <a href="{{ post.id }}">
                                        <img class="md:rounded-lg w-full h-48 object-cover" src="{{ post.image_link }}" alt="이미지가 없습니다.">
                                    </a>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </section>
    </div>
</main>


{% endblock content %}