<nav class="border border-gray-200 bg-white px-4 py-5 mb-8 md:mb-10 font-mono">
    <div class="max-w-7xl mx-auto">
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <a href="{% url 'blog:home' %}" class="flex items-center">
                    <img src="https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHNpbXBsZSUyMGxvZ298ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60"
                        alt="Logo" class="w-8 h-8 mr-2">
                    <span class="text-lg font-semibold text-blue-500 font-serif">먹보권</span>
                </a>
            </div>
            <div class="flex md:hidden">
                <button class="mobile-menu-button">
                    <svg class="w-6 h-6 fill-current text-gray-600" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z" />
                    </svg>
                </button>
            </div>
            <div class="hidden md:flex items-center">
                <ul class="flex space-x-4">
                    <li><a href="{% url 'blog:home' %}" class="text-gray-600 hover:text-gray-900">Home</a></li>
                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'blog:logout' %}" class="text-gray-600 hover:text-gray-900">{{ user.username }}</a>
                        {% else %}
                        <a href="{% url 'blog:login' %}" class="text-gray-600 hover:text-gray-900">Login</a>
                        {% endif %}
                    </li>
                    <li><a href="{% url 'blog:post_create' %}" class="text-gray-600 hover:text-gray-900">Posting</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hidden mobile-menu md:hidden">
        <ul class="flex flex-col space-y-4">
            <li><a href="{% url 'blog:home' %}" class="text-gray-600 hover:text-gray-900">Home</a></li>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'blog:logout' %}" class="text-gray-600 hover:text-gray-900">{{ user.username }}</a>
                {% else %}
                <a href="{% url 'blog:login' %}" class="text-gray-600 hover:text-gray-900">Login</a>
                {% endif %}
            </li>
            <li><a href="{% url 'blog:post_create' %}" class="text-gray-600 hover:text-gray-900">Posting</a></li>
        </ul>
    </div>
</nav>

<script>
    const button = document.querySelector('.mobile-menu-button');
    const menu = document.querySelector('.mobile-menu');

    button.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>