{% extends 'base.html' %}

{% block content %}

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article
            class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex flex-col items-left mb-6 not-italic">
                    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">{{ post.title }}</h1>
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                        <div>
                            <p class="text-lg text-gray-400">Published by {{ post.author }} /// {{ post.created_at|date:'Y-m-d'}}</p>
                        </div>
                    </div>
                </address>
                <img class="w-full" src="{{ post.image_link }}" alt="이미지가 없습니다.">
            </header>
            <p class="lead">{{ post.content|safe }}</p>
            <div class="flex">
                {% if request.user == post.author %}
                <a href="{% url 'blog:post_modify' post.id %}"
                    class="inline-block text-center my-4 py-2 px-4 bg-blue-500 text-white font-bold rounded hover:bg-blue-700">Edit</a>
                <form method="post" action="{% url 'blog:post_delete' post.id %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="inline-block text-center my-4 py-2 px-4 bg-red-500 text-white font-bold rounded hover:bg-red-700">Delete</button>
                </form>
                {% endif %}
            </div>
        </article>
    </div>
</main>

{% endblock %}