{% extends 'base.html' %}

{% block content %}


<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article
            class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="#" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">{{ post.author }}</a>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400">{{ post.created_at }}</p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">{{ post.title }}</h1>
                <img src="https://phx02pap002files.storage.live.com/y4mreyLDQPfmMLRYDK2xqwEsyygLMnNjbsbs_5DrJfv2RaDwtw-9SlflAmaWJ6EvyOA0dDI-iNlaWZwtKktI6QrPNi8tKrXi8ZKfY2EvJ9xssDFJ0kH5gdyIDQrHP3eYqxd4Us9qnbPIXw8xuV3QsIbpVUFsweoXbtcBVbTqqIEfB-wcl8HdogVzLQp1MdewAwZ?width=3024&height=4032&cropmode=none" alt="이미지 설명">
            </header>
            <p class="lead">{{ post.content }}</p>
        </article>
    </div>
</main>


{% endblock %}