{% extends "base.html" %}

{% block content %}

<div class="p-4 sm:ml-64 mt-16">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        부서명
                    </th>
                    <th scope="col" class="px-6 py-3">
                        부서장
                    </th>
                    <th scope="col" class="px-6 py-3">
                        재무목표
                    </th>
                    <th scope="col" class="px-6 py-3">
                        매출액
                    </th>
                    <th scope="col" class="px-6 py-3">
                        매출이익액
                    </th>
                    <th scope="col" class="px-6 py-3">
                        수익률
                    </th>
                    <th scope="col" class="px-6 py-3">
                        달성율
                    </th>
                    <th scope="col" class="px-6 py-3">
                        영업/기획
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 1사업부
                    </th>
                    <td class="px-6 py-4">
                        이성수
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 2사업부
                    </th>
                    <td class="px-6 py-4">
                        류근선
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 3사업부
                    </th>
                    <td class="px-6 py-4">
                        남궁단
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 4사업부
                    </th>
                    <td class="px-6 py-4">
                        양시훈
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 5사업부
                    </th>
                    <td class="px-6 py-4">
                        최호길
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 6사업부
                    </th>
                    <td class="px-6 py-4">
                        홍창기
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 7사업부
                    </th>
                    <td class="px-6 py-4">
                        권세정
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 8사업부
                    </th>
                    <td class="px-6 py-4">
                        김창덕
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 9사업부
                    </th>
                    <td class="px-6 py-4">
                        염지윤
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 10사업부
                    </th>
                    <td class="px-6 py-4">
                        조주연
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 11사업부
                    </th>
                    <td class="px-6 py-4">
                        김상민
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 12사업부
                    </th>
                    <td class="px-6 py-4">
                        서명화
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 13사업부
                    </th>
                    <td class="px-6 py-4">
                        배기식
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 14사업부
                    </th>
                    <td class="px-6 py-4">
                        유지현
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr><tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        XTL 15사업부
                    </th>
                    <td class="px-6 py-4">
                        김민정
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                    <td class="px-6 py-4">
                        1,831,728
                    </td>
                    <td class="px-6 py-4">
                        479698
                    </td>
                    <td class="px-6 py-4">
                        26.19%
                    </td>
                    <td class="px-6 py-4">
                        0%
                    </td>
                    <td class="px-6 py-4">
                        0
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 
{% endblock content %}